{% extends 'base.html' %} {% block content %} 
<div class="container">
{% if object %}

<h1>Edit <span class="pink-text"> {{ object.band_name }}'s</span> Details</h1>

{% else %}

<h1>Add a New Band</h1>

{% endif %}

<form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input
    class="waves-effect waves-light btn #ffea00 yellow accent-3 black-text"
    type="submit"
    value="{% if object %} EDIT {% else %} ADD {% endif %}"
  />
</form>
</div>
{% endblock %}
