{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>Log In</h1>

  <form method="POST" action='{% url 'login' %}'> {% csrf_token %} {{ form.as_p}}
  <input
    type="submit"
    class="btn #ffea00 yellow accent-3 black-text"
    value="login"
  />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
{% endblock %}

<!-- 
<input type='hidden' name='next' value='{{ next }}' /> 
This is a Django authentication feature that automatically redirects
a user that tries to access a protected route, 
back to that route after they log in
-->
